.modal-6 {
    -moz-box-shadow: 0 2px 2px #333;
    -webkit-box-shadow: 0 2px 2px #333;
    box-shadow: 0 2px 2px #333;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

    .modal-6 a {
        border-color: #ddd;
        color: #999;
        background: #fff;
        padding: 10px 15px;
    }

        .modal-6 a:hover {
            color: #E34E48;
            background-color: #eee;
        }

        .modal-6 a.prev {
            -moz-border-radius: 50px 0 0 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px 0 0 50px;
            width: 50px;
            position: relative;
        }

            .modal-6 a.prev:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 100%;
                top: 0;
                right: 0;
                background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
                background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
            }

        .modal-6 a.next {
            -moz-border-radius: 0 50px 50px 0;
            -webkit-border-radius: 0;
            border-radius: 0 50px 50px 0;
            width: 50px;
            position: relative;
        }

            .modal-6 a.next:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 100%;
                top: 0;
                left: 0;
                background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
                background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
            }

        .modal-6 a.active {
            border-color: #bbb;
            background: #fff;
            color: /*#E34E48;*/red;
            -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
            -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
        }
