.pagination1 {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
}

    .pagination1 li {
        display: inline;
        text-align: center;
    }

    .pagination1 a {
        float: left;
        display: block;
        font-size: 14px;
        text-decoration: none;
        padding: 5px 12px;
        color: #fff;
        margin-left: -1px;
        border: 1px solid transparent;
        line-height: 1.5;
    }

        .pagination1 a.active {
            cursor: default;
        }

        .pagination1 a:active {
            outline: none;
        }
