
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/Admin/Home/Index">
            <img src="~/assets/admin/images/icon/logo-blue.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>

                    <i>ADMIN - HAYPHIM</i>
                </li>
                <li>
                    <a href="/Admin/MovieAD/Index">
                        <i class="fa fa-video-camera"></i>Quản Lý Phim
                    </a>
                </li>
                <li>
                    <a href="/Admin/CategoriesAD/Index">
                        <i class="fa fa-list-alt"></i>Quản Lý Thể Loại
                    </a>
                </li>
                <li>
                    <a href="/Admin/CountriesAD/Index">
                        <i class="fa fa-globe"></i>Quản Lý Quốc Gia
                    </a>
                </li>
                <li>
                    <a href="/Admin/UsersAD/Index">
                        <i class="fa fa-user"></i>Quản Lý Users
                    </a>
                </li>
                <li>
                    <a href="/Admin/Login/LogoutAD">
                        <i class="fa fa-sign-out"></i>Đăng xuất
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
