@{

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
 }

 ViewBag.Title = "Index";


<div class="alert alert-danger" style="margin-top:52px;">
    Bạn không có quyền truy cập.
    <i>Yêu cầu <a href="/Admin/Login"> Đăng Nhập</a></i>
</div>

