
@{ 
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="all-comments" style="font-size:20px;text-align:center;">
    <p style="text-align:center"><span style="font-size:18px"><strong>HAYPHIM - Website Xem Phim miễn phí&nbsp; </strong></span></p>

    <hr>
    <p><strong><em>HayPhim</em></strong> được xây dựng nhằm cung cấp những bộ phim miễn phí có sẵn trên Internet.</p>

    <p>Giúp cho bạn dễ dàng tìm kiếm, tải xuống bộ phim mà bạn yêu thích <img alt="cheeky" src="http://localhost:52046/Areas/Admin/ckeditor/plugins/smiley/images/tongue_smile.png" style="height:23px; width:23px" title="cheeky"></p>

    <p>Nếu bạn thấy <strong><em>HayPhims</em></strong> chưa có bộ phim bạn mong muốn hoặc có điều gì chưa hài lòng hãy Liên&nbsp; hệ cho chúng tôi.</p>

    <p>Chúng tôi sẽ tiếp nhận ý kiến của bạn để ngày càng phát triển HayPhim hơn ^^</p>

    <hr>
    <p>Hãy tiếp thêm động lực cho chúng tôi bằng cách click vào những quảng cáo xuất hiện trên website.</p>

    <p>Nó sẽ giúp <strong><em>HayPhim</em></strong> có thêm nguồn kinh phí để duy trì hoạt động <img alt="laugh" src="http://localhost:52046/Areas/Admin/ckeditor/plugins/smiley/images/teeth_smile.png" style="height:23px; width:23px" title="laugh"></p>

    <hr>
    <p><span style="font-size:16px"><em><strong>Cảm ơn bạn ! <img alt="heart" src="http://localhost:52046/Areas/Admin/ckeditor/plugins/smiley/images/heart.png" style="height:23px; width:23px" title="heart"></strong></em></span></p>

</div>