@model WebFilm.Models.Country

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCountry)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.CountryID }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
