<div class="w3l_sign_in_register">
    @{
        var session = (WebFilm.Models.UserLogins)Session[WebFilm.Models.XULY.Session.USER_SESSION];
    }
    @if (session == null)
    {
        <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i> +84 935 945 955</li>
            <li><a href="/UserLogin/Login">Đăng nhập</a></li>
            <li><a href="/UserLogin/Register">Đăng ký</a></li>
        </ul>
    }
    else
    {
        <i><strong>Xin Chào:@session.UserName</strong></i>
        <i>@Html.ActionLink("Đăng xuất", "Logout", "UserLogin")</i>
    }

</div>

<div class="clearfix"> </div>